@charset "UTF-8";



/* @FONT FACE (enable the use of 'custom fonts' inside your document) */

/* 
  You can use 'fontsquirrel' (https://www.fontsquirrel.com) 
  or 'transfonter' (https://transfonter.org)
  to generate your own font for the web from .ttf or .oft files 
*/

@font-face {
    font-family: 'body';
    src: url('../fonts/FTT/IBMPlexSans.woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Tittle';
    src: url('../fonts/FT/FT88-Bold.woff');
    font-weight: normal;
    font-display: block;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../fonts/FTT/IBMPlexSans-Regular.woff') format('woff'),
  url('../fonts/FTT/IBMPlexSans-Medium.woff') format('woff'),
  url('../fonts/FTT/IBMPlexSans-Light.woff') format('woff');
}





/* VARIABLES */

:root {
  /* Color values */
  --color-background: #282B3D;
  --color-text: #BDBE8D;
  --color-text-link: #99251F;
  /* Font values */
  --font-size: 27px;
  /* Margin value */
  --margin: 0.5rem;
}



/* GENERAL STYLES */
.menu_lingua{
  position: -webkit-sticky;
  position:fixed;
  font-family: 'Tittle';
  color: #99251F;
  top: 3vh;
  right: 5vw;
}

.page-wrapper{
  position: grid ;
  width: 100%;
  height: 0%;
  box-shadow: -1vh -10vw 70px 20px #0A203B inset;
  padding-top: 0%;
  z-index: 0;

}

html {
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: 'body';
}



body {
  position:relative;
  background-color: var(--color-background);
  font-family: 'Body';
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  width:100%;
  height:auto;
  overflow-y:auto;

  
}

cursor {
  border-color: rgba(red, green, blue, alpha);
}

a {
  position: relative;
  font-size: 14px;
  color: #BDBE8D;
  line-height: 5px;
  font-family: 'Ibm Plex Sans';
  font-weight: Light;
  margin-top: 0%;
  align-content: center;
}

a:hover {
  color: var(--color-text-link-hover);

}

h0{
  color: #99251F;;
  text-transform: uppercase;
  font-size: 3rem;
  font-family: 'Tittle';
  text-align: left;
  line-height: 3rem;

  position: fixed;
  padding: 3rem;
  grid-template-columns: max-content;

}
h0:hover{
  text-decoration: underline;

}


h1{
 
  background-color: #BDBE8D;
  line-height: 0.5;
  color: #BDBE8D;
  font-family: 'Tittle';
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  line-height: 2rem;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

h2{
  background-color: BDBE8D(197, 244, 255, 0);
  color: #BDBE8D;
  font-family: 'Tittle';
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  line-height: 5rem;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}
.interview{
  font-family:'IBM Plex Sans';
  font-style: normal;
  font-size: 1.5rem;
  text-align: left;
  padding-left: 8rem;
}

details > summary > 
h2:hover {
  display: grid;
  cursor: pointer;
  border-bottom: 3px inset #99251F;
  padding-bottom: .2rem
}

/*interview*/
h3{
  background-color: BDBE8D(197, 244, 255, 0);
  color: #000000;
  font-family: 'Tittle';
  font-size: 2rem;
  font-weight: light;
  text-align: left;
  line-height: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}


h4{
  background-color: rgba(197, 244, 255, 0);
  color: #000000;
  font-family: 'Tittle';
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  line-height: 5rem;
  padding-top: 5rem;
  padding-bottom: 0.5rem;
}

details > p > span {
  color: #99251F
}

details > p > span.graphics{
  color: #99251F
}

details> p > span.quote{
  color: #BDBE8D;
  font-family:'IBM Plex Sans';
  font-style: italic;
  font-weight: lighter;

}
h4, h5, h6{
  /* h4-h5-h6 style */
}

p{
  /* paragraph style */

  text-align: left;
  text-indent: 1rem;
  font-family: 'IBM Plex Sans';
  font-weight: medium;

  margin-left: 5rem;
  margin-left: 4rem;
  line-height: 2,3rem;
  font-size: 1.6rem;
  padding: 0.5 rem;

  color: #BDBE8D;
  
}

ol, ul{
  /* ordered list and unordered list styles */
}

blockquote{
  /* blockquote element style */
}

hr{
  /* horizontal rule style */
}



/* PAGE STYLES */

/* page structure */

div.page-wrapper {
  /* the element that 'wraps' everything */
  padding: var(--margin);
}

/* navigation */
 
nav{
  
}

/* content */

main{
  margin: 0 auto;
  max-width: 120ch;
  min-width: 40ch;
  width: 90vw;
  background-color: #231F20;
  box-shadow: 0 0 25px 25px #231F20;;
  padding: 6vw;
  border: 2rem;
  border-radius: 9rem;
  overflow: visible;

 
}



summary {
  box-sizing: border-box;
  bottom: unset;
  padding: 0.5rem;
  color: #BDBE8D;
  position: relative;
  border:none;
  shadow: 0px 0px 2px 2px #99251F;
  

}

.checkbox{
 
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: 'Tittle';
  text-align: center;
  line-height: 2rem;
  position: relative;
  display: inline-block;
  margin-top: 4%;
  margin-left: 2%;
  

}

#content {

  font-size: 1.0rem;
  background-color: #99251F;
  font-family: 'Tittle';
  text-align: center;
  line-height: 2rem;
  position: relative;
  display: none;
  box-shadow:  0 0 25px 25px #99251F;


  
 
}
#showContent {

  display: none;
  position: relative;
  left: 20px;
  top: 1px;

  
  
}






/* UTILITY CLASSES */

/* hide desktop mobile etc */

.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}





/* WEBSITE MEDIA QUERIES */

/* styles for 'mobile', screen sizes up to 779px, should covers 'mobile' and 'tablet' */
/* style this one first and then use the subsequent ones in a cascading way (from general to specific) */

@media (max-width: 779px) {
  h2{
    font-size: 3rem;
  }

  p{
    /* paragraph style */
  
    text-align: left;
    text-indent: 1rem;
    font-family: 'IBM Plex Sans';
    font-weight: medium;
  
    margin-left: 0rem;
    line-height: 1.2rem;
    font-size: 1rem;
    padding: 0.5 rem;
  
    color: #BDBE8D;
    
  }

  .interview{
    font-family:'IBM Plex Sans';
    font-style: normal;
    font-size: 1rem;
    text-align: left;
    padding-left: 2rem;
  }


  /* your 'mobile' overriding css properties here */



  /* utility classes, mobile */

  .desktop-only{
    display:none;
  }

  .mobile-only{
    display:block;
  }

}



/* use this query to apply style changes to smaller smartphones sizes (like an iPhone 5S or SE 2016), max size of 339px */

@media (max-width: 339px) {

  /* your overriding css properties here */

}



/* use this query to apply style changes for 'mobile' screen sizes that are flipped in 'landscape' mode */

@media (max-width: 779px) and (orientation: landscape) {

   /* your overriding css properties here */

}



/* use this query to apply style for 'small' desktop screens */

@media (min-width: 780px) and (max-width: 992px) {

  /* your overriding css properties here */

}


